{% load static %} {% load socialaccount %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Zocaya</title>
<link rel="shortcut icon" type="image/jpeg" href="/static/favicon.jpeg"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-184520943-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-184520943-1');
    </script>
    <!-- Facebook Pixel Code -->
    <script>
        ! function(f, b, e, v, n, t, s) {
            if (f.fbq) return;
            n = f.fbq = function() {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '489931002145673');
        fbq('track', 'PageView');
    </script>
    <noscript>
     <img height="1" width="1" 
    src="https://www.facebook.com/tr?id=489931002145673&ev=PageView
    &noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->
</head>

<body>

    <div class="hero_section">

        <div id="hero_img">
            <img src="{% static 'images/Transparent2.png' %}" alt="">
            <p><b>What is Zocaya? </b>The best place for businesses and creators to start a private club membership service.</p>
            <p><b>How?</b> Provide best products or content to your best supporters with a simple monthly membership service.
            </p>

        </div>

        <div class="login_form">




            <div class="form_block">
                <form method="POST" action=".">
                    {% csrf_token %}
                    <h2 class="mb- mr-3"> Change Your Email</h2>

                    {% if message %}
                    <!-- ! -->


                    <div id="alert-otp" class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>Success!</strong> {{message}} . <a href="{%  url 'general:verify'  %}"> Verify From Here</a>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <!-- ! -->
                    {% endif %}





                    <div>
                        <input type="email" class="form-control" name="mail" value="{{profile.user.email}}" aria-label="Recipient 's username" aria-describedby="button-addon2">

                        <!-- <input type="tel" class="form-control mt-2 " value="{{profile.Phone_no}}" name="number" placeholder="Enter OTP For Mobile " aria-label="Recipient 's username" aria-describedby="button-addon2"> -->
                        <button class="btn btn-outline-info mt-3 btn-sm" type="submit" id="conferm_button">Submit</button>
                    </div>



                    <form/>
            </div>



        </div>
    </div>

    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

</body>


</html>