{% extends "Dashboard/Dashboard-base.html" %}

<!-- ! --------! -->
{% block content %}

<div class="mt-5 pt-3">
    {% if message %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
</div>

<ul class="nav nav-tabs justify-content-center">
    <li class="nav-item">
        <a class="nav-link " href="/profile/edit-profile/">General Profile Settings</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active " aria-current="page" href="{% url 'general:changeavatar' %}">Change Avatar</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " aria-current="page" href="{% url 'general:passwordreset' %}">Change Password</a>
    </li>
    {% if not banksetting.exists %}
    <li class="nav-item">
        <a class="nav-link " aria-current="page" href="{% url 'general:banksetting' %}">Bank Setting</a>
    </li>
    {% else %}
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="{% url 'general:editbanksetting' %}">Edit Bank Setting</a>
    </li>
    {% endif %}
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="{% url 'general:publicprofilesetting' %}">Subscription Settings</a>
    </li>
</ul>

<div class="container ">
    <h2 class="text-left mt-5">Change Profile Pic</h2>
    <form method="POST" action="{% url 'general:changeavatar' %}" enctype="multipart/form-data"> {% csrf_token %}

        <img src="{{profile.Avatar}}" width="170px" height="170px" id="dp" class="rounded-circle mt-5">
        <div class="form-group mt-2 mb-5">
            <label for="image_uploader">Profile Pic</label>
            <div style="display: none;" class="spinner-border text-info" id="image_spinner" role="status">

            </div>
            <input type="file" accept="image/*" name="image" class="form-control-file" id="image_uploader">
            <p class="mt-1 text-muted">Only PNG,JPEG and JPG Format Allowed Of Max Size 3Mb </p>
            <button class="btn btn-sm btn-outline-info mt-5">Save Image</button>
        </div>
    </form>
</div>
{% endblock content %} {% block script %}
<script>
    var input = document.getElementById("image_uploader")
    let spinner = document.getElementById("image_spinner")
    let image = document.getElementById('dp')
    var id = '{{id}}';
    input.addEventListener('change', () => {
        var size = parseFloat(input.files[0].size / 1024).toFixed(2);
        if (size > 3000) {
            alert("Please Upload Images Less Than 3mb , Your Supporters Will See Full Quality Images ")
            return
        }
        console.log("In File Upload")
        var data = new FormData()
        for (const file of input.files) {
            data.append('files', file, file.name)
        }
        spinner.style.display = ""
        fetch(`/profile/save-image/avatar/${id}`, {
            method: 'POST',
            body: data
        }).then(res => res.json()).then(response => {
            spinner.style.display = "none"

            let src = response['src']
            image.style.display = "block"
            image.src = response['src']
        });




    });
</script>
{% endblock script %}