<div style="z-index:20000" class="modal fade " id="modal{{forloop.counter}}" tabindex="-1 " aria-labelledby="staticBackdropLabel " aria-hidden="true ">
    <div style="padding: 0px; " class="modal-dialog modal-xl modal-dialog-centered ">
        <div class="modal-content ">

            <div class="modal-body px-0 py-0 ">

                <div class="row ">
                    <div class="col-lg-8  ">
                        <img width="100%" id="modal{{forloop.counter}}Img" data-src="{{image.Image}}" class="img-fluid">
                    </div>
                    <div class="col-lg-4 px-2 py-2">
                        <div class="mob_padding">
                            <button style="float: right; margin-right: 10px;" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            <h4 class="responsive-font-size:4rem; rfs: 64; ">{{image.Headline}}</h4>
                            <p style="font-size: 11px;">{{image.Description}}</p>
                            <footer class="blockquote-footer">Author <cite title="Source Title">{{image.username}}</cite></footer>
                            <!-- !------------------------ -->



                            {% if image.Id.hex in post_ids %}

                            <svg id="like{{forloop.counter}}" onclick="Like_me('{{image.Id.hex}}','image','{{image.Owner.username}}','like{{forloop.counter}}')" class="ico liked" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M12,21.35L10.55,20.03C5.4,15.36 2,12.27 2,8.5C2,5.41 4.42,3 7.5,3C9.24,3 10.91,3.81 12,5.08C13.09,3.81 14.76,3 16.5,3C19.58,3 22,5.41 22,8.5C22,12.27 18.6,15.36 13.45,20.03L12,21.35Z"></path>
                            </svg>
                            <span class="text-muted" style="margin-left: 5px;" id="count{{image.Id.hex}}">{{image.Like_count}}</span> {% else %}
                            <svg id="like{{forloop.counter}}" onclick="Like_me('{{image.Id.hex}}','image','{{image.Owner.username}}','like{{forloop.counter}}')" class="ico" width="24" height="24" viewBox="0 0 24 24">
                            <path d="M12,21.35L10.55,20.03C5.4,15.36 2,12.27 2,8.5C2,5.41 4.42,3 7.5,3C9.24,3 10.91,3.81 12,5.08C13.09,3.81 14.76,3 16.5,3C19.58,3 22,5.41 22,8.5C22,12.27 18.6,15.36 13.45,20.03L12,21.35Z"></path>
                        </svg>

                            <span class="text-muted" style="margin-left: 5px;" id="count{{image.Id.hex}}"> {{image.Like_count}} </span> {% endif %}


                            <!-- !=--------------------------- -->
                            <div class="mt-3">

                                <button class="btn btn-sm btn-outline-secondary" onClick="copy('p{{forloop.counter}}')">
                                        Share This Post
                                    </button>
                                <p class="text-secondary mt-3" id="p{{forloop.counter}}" style="font-size: 0px;" onClick='copyText(this)'>http://zocaya.com/post/{{profile.username}}/images/{{image.Id}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


{% block script %}
<script>
    function loadImage(id) {
        console.log("In Laad Image")
        var src = document.getElementById(id).dataset.src
        console.log(src)
        document.getElementById(id).src = src
    }
    // COPY TO CLIPBOARD
    // Attempts to use .execCommand('copy') on a created text field
    // Falls back to a selectable alert if not supported
    // Attempts to display status in Bootstrap tooltip
    // ------------------------------------------------------------------------------
    function copy(id) {
        document.getElementById(id).click()
    }

    function copyText(element) {
        console.log("In Copy Text")
        console.log(element)
        var range, selection, worked;

        if (document.body.createTextRange) {
            range = document.body.createTextRange();
            range.moveToElementText(element);
            range.select();
        } else if (window.getSelection) {
            selection = window.getSelection();
            range = document.createRange();
            range.selectNodeContents(element);
            selection.removeAllRanges();
            selection.addRange(range);
        }

        try {
            document.execCommand('copy');
            alert('share link copied');
        } catch (err) {
            alert('unable to copy text');
        }
    }
</script>
{% endblock script %}