{% extends "Dashboard/Dashboard-base.html" %}

<!-- ! --------! -->
{% block content %}

<div class="mt-5 pt-3">
    {% if messages %} {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %} {% endif %}
</div>
<ul class="nav nav-tabs justify-content-center">
    <li class="nav-item">
        <a class="nav-link " href="/profile/edit-profile/">General Profile Settings</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " aria-current="page" href="{% url 'general:changeavatar' %}">Change Avatar</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'general:passwordreset' %}">Change Password</a>
    </li>
    {% if not banksetting.exists %}
    <li class="nav-item">
        <a class="nav-link " aria-current="page" href="{% url 'general:banksetting' %}">Bank Setting</a>
    </li>
    {% else %}
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="{% url 'general:editbanksetting' %}">Edit Bank Setting</a>
    </li>
    {% endif %}
    <li class="nav-item">
        <a class="nav-link " aria-current="page" href="{% url 'general:publicprofilesetting' %}">Subscription Settings</a>
    </li>
</ul>
<div class="container ">

    <h2 class="text-left  my-5">Reset Password</h2>

    <form method="POST" action="{% url 'general:passwordreset' %}"> {% csrf_token %}

        <div class="input-group mb-2">
            <span class="input-group-text" id="inputGroup-sizing-default">New Password</span>
            <input type="text" name="newpass" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>

        <div class="input-group mb-2">
            <span class="input-group-text" id="inputGroup-sizing-default">Confirm New Password</span>
            <input type="text" name="newpassConfirm" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>

        <button type="submit" class="mt-2 btn btn-outline-info">Update Password</button>
    </form>
</div>

{% endblock content %}