{% extends "Dashboard/Dashboard-base.html" %}

<!-- ! --------! -->
{% block content %}
<div class="container ">

    <h2 class="mb-4">WELCOME TO <span class="text-info">ZOYA</span>
    </h2>
    <p>As humans, we want to be a part of a community, we like to support great art, great creators, great products</p>
    <p>
        On Zoya, Creators can

        <b> START AN PRIVATE ONLINE COMMUNITY</b>, share their best photos, videos, blog posts or anything you like.
    </p>
    <p>
        The main idea is creators or businesses can charge a fixed monthly membership fee from their supporters to join the club.
    </p>
    <p class="text-success"><b>BENEFITS of a private online club for supporters and shops/creators:</b></p>
    <h6>Creators-
    </h6>
    <ul>
        <li>NO COMPANIES MAKING MONEY FROM YOUR ART, COMPLETELY INDEPENDENT</li>
        <li>Build a strong support that is there for you and not what some website thinks
        </li>
        <li>Make art that you want! No clickbait, no fakeness
        </li>
        <li>
            No risk of demonetization
        </li>
    </ul>
    <h6>Shops-
    </h6>
    <ul>
        <li>Connect with their customers directly.</li>
        <li>Provide small trials and discounts directly to club members only
        </li>
        <li>Sell your products directly without maintaining websites
        </li>

    </ul>
    <h6>Supporters-
    </h6>
    <ul>
        <li>Support the art or products that you think deserve it</li>
        <li>PROTECT YOUR FAVOURITE ART FROM CORPORATE MONEY
        </li>


    </ul>


    <h5 class="text-success">So get started,

    </h5>
    <p>if you are a creator or shop, set up your
        <a href="/profile/edit-profile/publicProfileSetting/">
            club membership benefits

        </a> that you will give your supporters.
        <a href="/profile/dashboard/image-post/">
            Create amazing posts 

        </a> that supporters can’t wait to see.
    </p>
    <p>
        if you are a supporter, request your favorite creator or shop to setup a club on Zoya and provide their best to you at the lowest prices possible
    </p>

</div>
{% endblock content %} {% block script %}
<script src="https://cdn.tutorialjinni.com/Detect.js/2.2.2/detect.js"></script>
<script defer type="text/javascript" src="/static/js/detectBrowser.js"></script>{% endblock script %}