{% extends "Dashboard/Dashboard-base.html" %} {% load mathfilters %} {% block content %}

<section>
    <div class=" mt-2">
        <h3 class="mb-3">Active Subscriptions</h3>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead class="bg-success text-light">
                    <tr>
                        <th scope="col">S.no</th>
                        <th scope="col">Creator Profile</th>
                        <th scope="col">Invoice and Card Management</th>
                        <th scope="col">Subscription Id</th>
                        <th scope="col">Amount Charge</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for membership in my_memberships %} {% ifequal membership.status 'active' %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>
                            <a href="/{{membership.Creator_profile}}">
                                <img style="width: 25px; height: 25px;" class="img-raised rounded-circle img-fluid" src="{{membership.Creator_profile.Avatar}}">

                            </a>
                            <span>{{membership.Creator_profile}}</span>
                        </td>
                        <td><a class="mt-1" target="blank" href='{{membership.subscriptionLink}}'>Manage</a></td>
                        <td>{{membership.subscriptionId}}</td>
                        <td>{{membership.amount|div:100}}/-INR per month</td>
                        <td>
                            {% if membership.cancelled %}
                            <h6><span class="badge badge-danger">Cancelled From Next Month</span></h6>{% else %}
                            <a class="btn btn-sm btn-outline-warning mt-1" data-toggle="modal" data-target="#Modal{{forloop.counter}}">Cancel Subscription</a> {% endif %}
                        </td>
                        <div class="modal fade" id="Modal{{forloop.counter}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Are You Sure You Want To Unscubscribe {{membership.Creator_profile}}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                    </div>
                                    <div class="modal-body">
                                        
                                        <ul>
                                            <li>You Will Not Get The <span class="text-info">Premium</span> Content From Next Billing Period From Akshat</li>
                                            <li>You Can Subscribe Again, Anytime you want</li>
                                            <li>Your Subscription Will Be Cancelled At The End Of This Billing Period Automatically.</li>
                                        </ul>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-success" data-dismiss="modal">Close</button>
                                        <a href="/payment/cancel-subscription/{{membership.Creator_profile.Id.hex}}/" type="button" class="btn btn-outline-warning">Unsubscribe</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tr>
                    {% endifequal %} {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</section>
{% endblock content %}